@accent: @syntax-selection-flash-color;
@final-accent: fade(@accent, 50%);
@background: fade(@accent, 20%);

@-webkit-keyframes bracketanimation {
  from  {
      border-width: 3px;
      border-color: @accent;
      left: -2px;
      top: 0px;
  }
  50%   {
      border-width: 6px;
      border-color: @accent;
      left: -3px;
      top: 0px;
  }
  to    {
      border-width: 1px;
      border-color: @final-accent;
      left: 0px;
      top: 0px;
  }
}
.bracket-matcher .region {
    border: 0px !important;
    box-shadow: none !important;
}
.bracket-matcher .region:after {
    content: "";
    -webkit-animation-name: bracketanimation;
    -webkit-animation-duration: .5s;
    border: 1px solid @final-accent;
    border-style: solid;
    border-radius: 3px;
    background-color: @background;
    width: 100%;
    height: 100%;
    position: absolute;
}
